
table{
    width: auto;
	position: absolute;
	z-index: 99999;
}

table thead{
	background: gray;
	/*border-bottom: white solid 1px;*/
}
table tbody{
	background-color: white;
}

#selectedZipTable{
	right: 10px;
	top:105px;
}

#dataTable{
    max-height: 400px;
    position: absolute;
    overflow: scroll;
    display: grid;
    top: 105px;
    left: 10px;
}