#header{
	background: #DDD;
	margin-bottom: 20px;
}
.row{
	height: 60px;
}
h1{
	text-align: center;
	position: relative;
    top: 9%;
}
#nav-links .link {
	float: left;
	text-align: center;
}
#nav-links .link a.active{
	color:#f0ad4e;
	border-bottom: 1px solid gray;
}
#nav-links .link a:focus{
	text-decoration: none;
}